.App {
  text-align: center;
  background: url('pływanie.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: column;
}

.tile {
  cursor: pointer;
  background: #007bff; /* Kolor tła kafelka - niebieski */
  color: white; /* Kolor tekstu */
  border-radius: 5px; /* Zaokrąglone rogi */
  padding: 10px; /* Dostosowane do większych kafelków */
  margin: 10px; /* Odstęp między kafelkami */
  text-align: center; /* Wyśrodkowanie tekstu */
  transition: transform 0.2s; /* Efekt przejścia */
  display: inline-flex; /* Użycie inline-flex, aby kafelki były obok siebie */
  justify-content: center; /* Wyśrodkowanie w poziomie */
  align-items: center; /* Wyśrodkowanie w pionie */
  font-size: calc(0.8rem + 0.5vw); /* Responsywna wielkość czcionki */
  border: none; /* Bez obramowania */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Cień dla kafelków */
}

.logout-button {
  cursor: pointer; /* Kursor wskazujący */
  background-color: #007bff; /* Kolor tła przycisku - niebieski */
  color: white; /* Kolor tekstu */
  border-radius: 5px; /* Zaokrąglone rogi */
  padding: 10px; /* Wewnętrzny odstęp */
  height: 50px;
  border: none; /* Bez obramowania */
  
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Cień */
  position: absolute; /* Umożliwia pozycjonowanie względem kontenera */
  top: 20px; /* Odstęp od górnej krawędzi */
  right: 20px; /* Odstęp od prawej krawędzi */
  font-size: calc(0.8rem + 0.5vw);
}



